@model List<Store.DAL.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
﻿
<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-black">Product list</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Create" asp-controller="Home" class="btn btn-link form-control text-black">
            Add New Product
        </a>
    </div>
  
    <div class="col-12 border p-3">
        <table  class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <div class="d-grid gap-4">
            @foreach (var p in Model)
            {    <partial name="_ProductCard" model="p"/>

            }
            </div>
        </table>
    </div>
    <div class="col-5 offset-3">
        <h1>Total product</h1>
        <p>@ViewBag.TotalProducts</p>
    </div>
</div> 